<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ вакансий из HeadHunter

In [1]:
import pandas as pd
import psycopg2
import numpy as np

In [2]:
DBNAME = 'project_sql'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432

In [3]:
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

# Юнит 3. Предварительный анализ данных

1. Напишите запрос, который посчитает количество вакансий в нашей базе (вакансии находятся в таблице vacancies).

In [4]:
query = f'''select count(id)
                from public.vacancies
            '''
df_vacancies=pd.read_sql_query(query, connection)
print(f"кол-во вакансий в нашей базе {df_vacancies}")

C:\Users\Asus\AppData\Local\Temp\ipykernel_4844\4011903300.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_vacancies=pd.read_sql_query(query, connection)

кол-во вакансий в нашей базе    count
0  49197

2. Напишите запрос, который посчитает количество работодателей (таблица employers).

In [5]:
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

query = f'''select count(id)
                from public.employers
            '''
df_employers=pd.read_sql_query(query, connection)
print(f"кол-во работодателей в нашей базе {df_employers}")

connection.close()

кол-во работодателей в нашей базе    count
0  23501

C:\Users\Asus\AppData\Local\Temp\ipykernel_4844\3259996775.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_employers=pd.read_sql_query(query, connection)

3. Посчитате с помощью запроса количество регионов (таблица areas).

In [6]:
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

query = f'''select count(id)
            from public.areas
        '''
df_areas=pd.read_sql_query(query, connection)
print (f"кол-во регионов в нашей базе {df_areas}")

connection.close()

кол-во регионов в нашей базе    count
0   1362

C:\Users\Asus\AppData\Local\Temp\ipykernel_4844\2101340145.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_areas=pd.read_sql_query(query, connection)

4. Посчитате с помощью запроса количество сфер деятельности в базе (таблица industries).

In [7]:
connection=psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

query = f'''select count(id)
            from public.industries
        '''
df_industies=pd.read_sql_query(query, connection)
print(f"кол-во сфер деятельности в базе {df_industies}")

connection.close()

кол-во сфер деятельности в базе    count
0    294

C:\Users\Asus\AppData\Local\Temp\ipykernel_4844\3827088732.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_industies=pd.read_sql_query(query, connection)

***

### Предварительные выводы ####
Сложно сделать на данном этапе какие-то выводы. В среднем на каждого работодателя приходтся по две вакансии(опять же, в среднем), правда непонятно как это можно использовать на данном этапе.

# Юнит 4. Детальный анализ вакансий

1. Напишите запрос, который позволит узнать, сколько (cnt) вакансий в каждом регионе (area).
Отсортируйте по количеству вакансий в порядке убывания.

In [8]:
connection=psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

query = f'''select a.name as areas_name,
            count(vac.id) as "кол-во вакансий"
            from 
                public.areas a
            join public.vacancies vac on a.id=vac.area_id
            group by areas_name
            order by 2 desc
            limit 5
        '''
df_vacancies=pd.read_sql_query(query, connection)
print(df_vacancies)

connection.close()

C:\Users\Asus\AppData\Local\Temp\ipykernel_4844\2392627247.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_vacancies=pd.read_sql_query(query, connection)

        areas_name  кол-во вакансий
0           Москва             5333
1  Санкт-Петербург             2851
2            Минск             2112
3      Новосибирск             2006
4           Алматы             1892

2. Напишите запрос, чтобы определить у какого количества вакансий заполнено хотя бы одно из двух полей с зарплатой.

In [9]:
connection=psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

query = f'''select COUNT(vacancies.id)
            from 
                public.vacancies
            where salary_from IS NOT NULL or salary_to IS NOT NULL
        '''
df_vacancies=pd.read_sql_query(query, connection)
print(df_vacancies)

connection.close()

   count
0  24073

C:\Users\Asus\AppData\Local\Temp\ipykernel_4844\3328635196.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_vacancies=pd.read_sql_query(query, connection)

3. Найдите средние значения для нижней и верхней границы зарплатной вилки. Округлите значения до целого.

In [10]:
connection=psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

query = f'''select round(AVG(VACANCIES.salary_from)) as "average from",
            round(AVG(VACANCIES.salary_to)) as "average to"
            from 
                public.vacancies
        '''
df_vacancies=pd.read_sql_query(query, connection)
print(df_vacancies)

connection.close()

   average from  average to
0       71065.0    110537.0

C:\Users\Asus\AppData\Local\Temp\ipykernel_4844\1770448707.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_vacancies=pd.read_sql_query(query, connection)

4. Напишите запрос, который выведет количество вакансий для каждого сочетания типа рабочего графика (schedule) и типа трудоустройства (employment), используемого в вакансиях. Результат отсортируйте по убыванию количества.

In [11]:
connection=psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

query = f'''select VACANCIES.schedule as schdlr,
            VACANCIES.employment as employ
            from 
                public.VACANCIES
            group by schdlr, employ
            order by 1 DESC
        '''
df_vacancies=pd.read_sql_query(query, connection)
print(df_vacancies)

connection.close()

C:\Users\Asus\AppData\Local\Temp\ipykernel_4844\3945815196.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_vacancies=pd.read_sql_query(query, connection)

              schdlr               employ
0   Удаленная работа     Полная занятость
1   Удаленная работа           Стажировка
2   Удаленная работа  Частичная занятость
3   Удаленная работа     Проектная работа
4     Сменный график           Стажировка
5     Сменный график     Полная занятость
6     Сменный график     Проектная работа
7     Сменный график  Частичная занятость
8        Полный день     Проектная работа
9        Полный день           Стажировка
10       Полный день     Полная занятость
11       Полный день  Частичная занятость
12     Гибкий график           Стажировка
13     Гибкий график     Проектная работа
14     Гибкий график     Полная занятость
15     Гибкий график  Частичная занятость
16    Вахтовый метод     Полная занятость
17    Вахтовый метод     Проектная работа

5. Напишите запрос, выводящий значения поля Требуемый опыт работы (experience) в порядке возрастания количества вакансий, в которых указан данный вариант опыта.

In [12]:
connection=psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

query = f'''select VACANCIES.experience as exp
            from
                public.VACANCIES
            group by exp
            order by COUNT(VACANCIES.id) ASC
        '''
df_vacancies=pd.read_sql_query(query, connection)
print(df_vacancies)

connection.close()

C:\Users\Asus\AppData\Local\Temp\ipykernel_4844\2006122938.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_vacancies=pd.read_sql_query(query, connection)

                  exp
0         Более 6 лет
1           Нет опыта
2       От 3 до 6 лет
3  От 1 года до 3 лет

***

In [13]:
# 1. Практически 1/5 вакансий территориально находятся Москва + Санкт-Петербург 
# 2. Около 48% вакансий не имеют чёткой границы по ЗП (либо низ вилки отсут-ет, либо верх)
# 3. Удаленный рабочий график - самый распространенный график среди вакансий, причем на при любом типе трудоустройства
# 4. Если я правильно понял: средняя ЗП по предлагаемым вакансиям около 950$
# 5. Судя по требованиям к опыту работы, зачастую, работодатели ищут уже готового специалиста, чтобы не вкладыватся в него, 
# либо совсем сырого - "Проще научить работать человека, чем переучить его".

# Юнит 5. Анализ работодателей

1. Напишите запрос, который позволит узнать, какие работодатели находятся на первом и пятом месте по количеству вакансий.

In [14]:
connection=psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

query=f'''(SELECT EMPLOYERS.name as "Компания-работодатель",
        COUNT(VACANCIES.id) as "Кол-во вакансий"
        from
            public.EMPLOYERS
        join public.VACANCIES on VACANCIES.employer_id=EMPLOYERS.id
        GROUP BY EMPLOYERS.name
        ORDER BY 2 DESC
        LIMIT 1)
        UNION
        (SELECT EMPLOYERS.name as "Компания-работодатель",
        COUNT(VACANCIES.id) as "Кол-во вакансий"
        from
            public.EMPLOYERS
        join public.VACANCIES on VACANCIES.employer_id=EMPLOYERS.id
        GROUP BY EMPLOYERS.name
        ORDER BY 2 DESC
        LIMIT 1
        OFFSET 4)
        '''
df_employers=pd.read_sql_query(query, connection)
print(df_employers)

connection.close()

C:\Users\Asus\AppData\Local\Temp\ipykernel_4844\2927984729.py:28: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_employers=pd.read_sql_query(query, connection)

  Компания-работодатель  Кол-во вакансий
0         Газпром нефть              331
1                Яндекс             1933

2. Напишите запрос, который для каждого региона выведет количество работодателей и вакансий в нём.
Среди регионов, в которых нет вакансий, найдите тот, в котором наибольшее количество работодателей.

In [15]:
connection=psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

query=f'''SELECT AREAS.name as "имя региона",
        COUNT(DISTINCT EMPLOYERS.id) as "число работ-ей",
        COUNT(DISTINCT VACANCIES.id) as "число вакансий"
        from
            public.AREAS
        left join public.EMPLOYERS EMPLOYERS ON EMPLOYERS.area=areas.id
        left join public.VACANCIES VACANCIES ON VACANCIES.area_id=areas.id
        WHERE VACANCIES.id IS NULL
        GROUP BY AREAS.name
        ORDER BY 2 DESC
        LIMIT 3
        '''

df_employers_and_area=pd.read_sql_query(query, connection)
print(df_employers_and_area)

connection.close()

C:\Users\Asus\AppData\Local\Temp\ipykernel_4844\2428386100.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_employers_and_area=pd.read_sql_query(query, connection)

          имя региона  число работ-ей  число вакансий
0              Россия             410               0
1           Казахстан             207               0
2  Московская область              75               0

3. Для каждого работодателя посчитайте количество регионов, в которых он публикует свои вакансии. Отсортируйте результат по убыванию количества.

In [16]:
connection=psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

query=f'''select E.name as "имя работодателя",
        COUNT(DISTINCT V.area_id) as "кол-во регионов"
        from
            public.VACANCIES V
        left join public.EMPLOYERS E on V.employer_id=E.id
        group by E.name
        order by 2 DESC
        '''

df_employers_vacancies=pd.read_sql_query(query, connection)
print(df_employers_vacancies)

connection.close()

C:\Users\Asus\AppData\Local\Temp\ipykernel_4844\2058510127.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_employers_vacancies=pd.read_sql_query(query, connection)

             имя работодателя  кол-во регионов
0                      Яндекс              181
1                  Ростелеком              152
2                  Спецремонт              116
3      Поляков Денис Иванович               88
4                   ООО ЕФИН                71
...                       ...              ...
14761                  UniSol                1
14762            UNISTORY LLC                1
14763                   UNIT6                1
14764     United Distribution                1
14765              UNITEL LLC                1

[14766 rows x 2 columns]

4. Напишите запрос для подсчёта количества работодателей, у которых не указана сфера деятельности.

In [17]:
connection=psycopg2.connect(
    dbname=DBNAME,
    host=HOST,
    password=PASSWORD,
    user=USER,
    port=PORT
)

query=f'''select COUNT(*)
        from
            public.employers E
        left join public.employers_industries EI on E.id=EI.employer_id
        where EI.employer_id IS NULL
        '''

df_employers_zero_indust=pd.read_sql_query(query, connection)
print (df_employers_zero_indust)

connection.close()

   count
0   8419

C:\Users\Asus\AppData\Local\Temp\ipykernel_4844\3236155625.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_employers_zero_indust=pd.read_sql_query(query, connection)

5. Напишите запрос, чтобы узнать название компании, находящейся на третьем месте в алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности.

In [18]:
connection=psycopg2.connect(
    dbname=DBNAME,
    password=PASSWORD,
    user=USER,
    host=HOST,
    port=PORT
)

query=f'''select E.name
        from
            public.employers E
        left join public.employers_industries AS EI on E.id=EI.employer_id
        group by E.id
        HAVING COUNT(EI.industry_id)=4
        ORDER BY 1
        '''

df_third_place_empl=pd.read_sql_query(query, connection)
print(df_third_place_empl)

connection.close()

C:\Users\Asus\AppData\Local\Temp\ipykernel_4844\4202798296.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_third_place_empl=pd.read_sql_query(query, connection)

                 name
0        101 Интернет
1            21vek.by
2                2ГИС
3                  2К
4         4 пикселя +
...               ...
1133            ЮРИОН
1134  ЮТИП Технологии
1135           ЯКласс
1136            ЯрНео
1137    Яшин&Партнёры

[1138 rows x 1 columns]

6. С помощью запроса выясните, у какого количества работодателей в качестве сферы деятельности указана Разработка программного обеспечения.

In [19]:
connection=psycopg2.connect(
    dbname=DBNAME,
    host=HOST,
    user=USER,
    password=PASSWORD,
    port=PORT
)

query=f'''select COUNT(EI.employer_id)
        from 
            public.employers_industries EI
        join public.industries AS I on EI.industry_id=I.id
        where I.name LIKE 'Разработка программного обес%'
        '''

df_employers_IT=pd.read_sql_query(query, connection)
print(df_employers_IT)

connection.close()

C:\Users\Asus\AppData\Local\Temp\ipykernel_4844\413972456.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_employers_IT=pd.read_sql_query(query, connection)

   count
0   3553

7. Для компании «Яндекс» выведите список регионов-миллионников, в которых представлены вакансии компании, вместе с количеством вакансий в этих регионах. Также добавьте строку Total с общим количеством вакансий компании. Результат отсортируйте по возрастанию количества.

Список городов-милионников надо взять [отсюда](https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8). 

Если возникнут трудности с этим задание посмотрите материалы модуля  PYTHON-17. Как получать данные из веб-источников и API.

In [20]:
import requests
import urllib.parse as req
path_for_city=req.urlparse('https://ru.wikipedia.org/wiki/Города-миллионеры_России')
url=path_for_city.scheme + '://' + req.quote(path_for_city.netloc) + req.quote(path_for_city.path) + '#' +req.quote(path_for_city.fragment)
mill_city=pd.read_html(url)[1]
city_for_query=tuple(mill_city['Город'].to_list())
city_for_query

('Москва',
 'Санкт-Петербург',
 'Новосибирск',
 'Екатеринбург',
 'Казань',
 'Нижний Новгород',
 'Красноярск',
 'Челябинск',
 'Самара',
 'Уфа',
 'Ростов-на-Дону',
 'Краснодар',
 'Омск',
 'Воронеж',
 'Пермь',
 'Волгоград')

In [21]:
connection=psycopg2.connect(
    dbname=DBNAME,
    host=HOST,
    port=PORT,
    password=PASSWORD,
    user=USER
)

query=f'''with temp as (select A.name,
        COUNT(V.id) as cnt
        from 
            public.employers as E
        join public.vacancies as V on E.id=V.employer_id
        join public.areas as A on V.area_id=A.id
        where E.name='Яндекс'
        group by A.name
        having A.name in {city_for_query}
        order by 2 ASC)
        select *
        from temp
        union ALL
        select 'Total', sum(cnt) from temp
        '''

df_mln_clty=pd.read_sql_query(query, connection)
print(df_mln_clty)

connection.close()

C:\Users\Asus\AppData\Local\Temp\ipykernel_4844\1588392773.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_mln_clty=pd.read_sql_query(query, connection)

               name    cnt
0              Омск   21.0
1         Челябинск   22.0
2        Красноярск   23.0
3         Волгоград   24.0
4             Пермь   25.0
5            Казань   25.0
6    Ростов-на-Дону   25.0
7               Уфа   26.0
8            Самара   26.0
9         Краснодар   30.0
10          Воронеж   32.0
11      Новосибирск   35.0
12  Нижний Новгород   36.0
13     Екатеринбург   39.0
14  Санкт-Петербург   42.0
15           Москва   54.0
16            Total  485.0

***

In [22]:
# 1. Самый распространный работодатель - Яндекс. Его вакансии присутствуют в 181 регионе, при этом 1/4 часть вакансий этого
# работодателя числится в регионах-миллиониках.
# 2. Примерно у 35% всех вакансий не указана сфера деятельности.
# 3. Примерно 15% вакансий свяхано с разработкой программного обеспечения

# Юнит 6. Предметный анализ

1. Сколько вакансий имеет отношение к данным?

Считаем, что вакансия имеет отношение к данным, если в её названии содержатся слова 'data' или 'данн'.

*Подсказка: Обратите внимание, что названия вакансий могут быть написаны в любом регистре.*

In [23]:
connection=psycopg2.connect(
    dbname=DBNAME,
    host=HOST,
    user=USER,
    password=PASSWORD,
    port=PORT
)

query=f'''select COUNT(vacancies.name) as "кол-во вакансий по data"
        from
            public.vacancies
            where lower(name) LIKE '%данн%' or lower(name) LIKE '%data%'
        '''

df_vac_data=pd.read_sql_query(query, connection)
print(df_vac_data)

connection.close()

C:\Users\Asus\AppData\Local\Temp\ipykernel_4844\2822722549.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_vac_data=pd.read_sql_query(query, connection)

   кол-во вакансий по data
0                     1771

2. Сколько есть подходящих вакансий для начинающего дата-сайентиста? 
Будем считать вакансиями для дата-сайентистов такие, в названии которых есть хотя бы одно из следующих сочетаний:
* 'data scientist'
* 'data science'
* 'исследователь данных'
* 'ML' (здесь не нужно брать вакансии по HTML)
* 'machine learning'
* 'машинн%обучен%'

** В следующих заданиях мы продолжим работать с вакансиями по этому условию.*

Считаем вакансиями для специалистов уровня Junior следующие:
* в названии есть слово 'junior' *или*
* требуемый опыт — Нет опыта *или*
* тип трудоустройства — Стажировка.

In [25]:
connection=psycopg2.connect(
    dbname=DBNAME,
    host=HOST,
    user=USER,
    password=PASSWORD,
    port=PORT
)

query=f'''select COUNT(*)
        from
            public.vacancies v
        where 
        (
        v.name ILIKE '%data scientist%' or
        v.name ILIKE '%data science%' or
        v.name ILIKE '%исследователь данных%' or
        (v.name ILIKE '%ML%' AND v.name NOT ILIKE '%HTML%') or
        v.name ILIKE '%machine learning%' or
        v.name ILIKE '%машинн%обучен%'
        )
        and 
        (
        v.name ILIKE '%junior%' or
        v.experience='Нет опыта' or
        v.employment ILIKE '%стажировка%'  
        )
        
        '''

df_cond_DS=pd.read_sql_query(query, connection)
print(df_cond_DS)

connection.close()

C:\Users\Asus\AppData\Local\Temp\ipykernel_4844\891005528.py:30: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_cond_DS=pd.read_sql_query(query, connection)

   count
0     51

3. Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или postgres?

** Критерии для отнесения вакансии к DS указаны в предыдущем задании.*

In [26]:
connection=psycopg2.connect(
    dbname=DBNAME,
    host=HOST,
    user=USER,
    password=PASSWORD,
    port=PORT
)

query_6_3= f'''select count(*)
    from
        public.vacancies
    where
        (
        lower(name) like '%data scientist%'  or
        lower(name) like '%data science%' or
        lower(name) like '%исследователь данных%'  or
        (name like '%ML%' and name not ilike '%HTML%')  or
        lower(name) like '%machine learning%'  or
        lower(name) like '%машинн%обучен%'
        )
        and
        (
        key_skills ilike '%SQL%' or
        key_skills like '%postgres%'
        )
            '''

In [27]:
df=pd.read_sql_query(query_6_3, connection)
df
connection.close()

C:\Users\Asus\AppData\Local\Temp\ipykernel_4844\554182748.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query_6_3, connection)

4. Проверьте, насколько популярен Python в требованиях работодателей к DS.Для этого вычислите количество вакансий, в которых в качестве ключевого навыка указан Python.

** Это можно сделать помощью запроса, аналогичного предыдущему.*

In [28]:
connection=psycopg2.connect(
    dbname=DBNAME,
    host=HOST,
    user=USER,
    password=PASSWORD,
    port=PORT
)

query_6_4=f'''select COUNT(*)
    from
        public.vacancies
    where
        (
        lower(name) like '%data scientist%'  or
        lower(name) like '%data science%' or
        lower(name) like '%исследователь данных%'  or
        (name like '%ML%' and name not ilike '%HTML%')  or
        lower(name) like '%machine learning%'  or
        lower(name) like '%машинн%обучен%'
        )
        and
        (
        key_skills ilike '%python%'
        )
        '''

In [29]:
df=pd.read_sql_query(query_6_4, connection)
df
connection.close()

C:\Users\Asus\AppData\Local\Temp\ipykernel_4844\3356478817.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query_6_4, connection)

5. Сколько ключевых навыков в среднем указывают в вакансиях для DS?
Ответ округлите до двух знаков после точки-разделителя.

In [44]:
connection=psycopg2.connect(
    dbname=DBNAME,
    host=HOST,
    user=USER,
    password=PASSWORD,
    port=PORT
)

query_6_5=f'''select round(avg(length(key_skills)-length(replace(key_skills, CHR(9), ''))+1), 3) as res
    from
        public.vacancies v
    where
        (
        name like '%data scientist%'  or
        name like '%data science%' or
        name like '%исследователь данных%'  or
        (name like '%ML%' and name not ilike '%HTML%')  or
        name like '%machine learning%'  or
        name like '%машинн%обучен%'
        )
        '''

In [45]:
df=pd.read_sql_query(query_6_5, connection)
print(df)
connection.close()

C:\Users\Asus\AppData\Local\Temp\ipykernel_4844\3971394806.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query_6_5, connection)

     res
0  6.404

6. Напишите запрос, позволяющий вычислить, какую зарплату для DS в **среднем** указывают для каждого типа требуемого опыта (уникальное значение из поля *experience*). 

При решении задачи примите во внимание следующее:
1. Рассматриваем только вакансии, у которых заполнено хотя бы одно из двух полей с зарплатой.
2. Если заполнены оба поля с зарплатой, то считаем зарплату по каждой вакансии как сумму двух полей, делённую на 2. Если заполнено только одно из полей, то его и считаем зарплатой по вакансии.
3. Если в расчётах участвует null, в результате он тоже даст null (посмотрите, что возвращает запрос select 1 + null). Чтобы избежать этой ситуацию, мы воспользуемся функцией [coalesce](https://postgrespro.ru/docs/postgresql/9.5/functions-conditional#functions-coalesce-nvl-ifnull), которая заменит null на значение, которое мы передадим. Например, посмотрите, что возвращает запрос `select 1 + coalesce(null, 0)`

Выясните, на какую зарплату в среднем может рассчитывать дата-сайентист с опытом работы от 3 до 6 лет. Результат округлите до целого числа.

In [46]:
connection=psycopg2.connect(
    dbname=DBNAME,
    host=HOST,
    user=USER,
    password=PASSWORD,
    port=PORT
)

query_6_6=f'''select experience as "опыт работы",
    round(avg(coalesce((salary_from + salary_to) / 2, salary_from, salary_to)), 0) as "avg zp"
FROM public.vacancies v
where 
(
  name ilike '%data scientist%'or
  name ilike '%data science%'or
  name ilike '%исследователь данных%'or
  (name like '%ML%' and name not ilike '%HTML%') or
  name ilike '%machine learning%' or name ilike '%машинн%обучен%'
)
AND experience = 'От 3 до 6 лет'
AND (salary_from IS NOT NULL OR salary_to IS NOT NULL)
GROUP BY experience
'''

In [47]:
df=pd.read_sql_query(query_6_6, connection)
print(df)
connection.close()

C:\Users\Asus\AppData\Local\Temp\ipykernel_4844\2913911421.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query(query_6_6, connection)

     опыт работы    avg zp
0  От 3 до 6 лет  243115.0

***

In [ ]:
# 1. Если я правильно понял, вакансии по DS составляют около 7% от всех вакансий на рынке.
# 2. Что очень печально - вакансий для начинающего дата саентиста критически мало(51 вакансия из почки 25К вакансий), 
# тут как и везде, требуют опыт, который как обычно не заработать не устроившись на работу(откуда его в принципе взять,
# если без опыта не берут...)
# 3. ОЧень впечатлила средняя ЗП у специаоистов DS с опытом работы от 3 до 6 лет...даже не так. ОЧЕНЬ, ОЧЕНЬ...

# Общий вывод по проекту

In [ ]:
# Вывода по поекту особо нет. Сделал один важный для себя вывод: начал выгорать по мере прохождения данного модуля, 
# да и заниматься этим необходимо каждый день, а не раз в неделю.